{% assign presentation = site.data.data.presentation %}
{% if presentation %}
<section class="section presentation-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ presentation.title }}
  </h2>

  {% for presentation in presentation.info %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">
          {% if presentation.link %}
          <a href="{{ presentation.link }}" target="_blank">{{ presentation.role }}</a>
          {{ presentation.role }}
          {% else %}
          {{ project.title }}
          {% endif %} 
        
        </h3>
        <div class="time">{{ presentation.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ presentation.company }}</div>

    </div><!--//meta-->

    {% if presentation.details %}
    <div class="details">
      {{ presentation.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

